<article>
<h1>Acerca de</h1>

<%= react_component("HelloWorld", { greeting: "Hello from react-rails." }) %>

<p>Mercado Campesino en mi Casa, es una aplicación de comercio 
justo especialmente para productos campesinos.</p>

<p>Busca reunir en un mismo lugar, productores campesinos, 
transportadores y compradores, para facilitar la
comercialización de la producción campesina.</p>

<p>Es una aplicación de código abierto. Le damos la bienvenida a 
quienes deseen apoyar el desarrollo al
<a href="https://github.com/pasosdeJesus/jn635_pdJ">repositorio de fuentes
en github</a></p>

<p>
Consulte la política de <a href='https://github.com/pasosdeJesus/jn635_pdJ/blob/master/PROTECCION_DE_DATOS.md'>protección de datos y los términos de uso</a>
</p>

<p>Dependiendo del uso, si llegamos a implementar pagos en línea, planeamos 
no cobrar porcentaje sobre venta sino un valor fijo por transacción --aunque 
las pasarelas de pago que tendremos que usar cobran por porcentaje.  </p>
<p>
El cŕedito y el agradecimiento para las organizaciones 
y personas que nos han colaborado puede verse en 
<a href="https://github.com/pasosdeJesus/jn635_pdJ/blob/master/CREDITOS.md">https://github.com/pasosdeJesus/jn635_pdJ/blob/master/CREDITOS.md</a>
</p>

<p>Sobre todo agradecemos a Dios, a Jesús quien sacia nuestra
sed y nuestra hambre, incluso en tiempos Coronavirús (ver Juan 6:35)
</p>


</article>

