<article>
<h1>Acerca de</h1>
<p>Mercado Campesino en mi Casa, es una aplicación de comercio 
justo especialmente para productos campesinos.</p>

<p>Busca reunir en un mismo lugar, productores campesinos, 
transportadores y compradores, para facilitar la
comercialización de la producción campesina.</p>

<p>Es una aplicación de código abierto. El desarollo lo lidera 
<a href="http://www.pasosdeJesus.org" target="_blank">Pasos de Jesús</a> y
le damos la bienvenida a quienes desee apoyar
con mejoras en el <a href="">repositorio en github</a></p>

<p>
La poítica de privacidad que empleamos está
disponible en:
</p>

<p>
El cŕedito y el agradecimiento para las organizaciones 
y personas que nos han colaborado puede verse en 
<a href="https://github.com/pasosdeJesus/sivel2/blob/master/CREDITOS.md">https://github.com/pasosdeJesus/sivel2/blob/master/CREDITOS.md"</a>
</p>

<p>Sobre todo agradecemos a Dios, a Jesús quien sacia nuestra
sed y nuestra hambre, incluso en tiempos Coronavirús (ver Juan 6:35)
</p>


</article>

